.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333; /* The track (progress background) color */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* The thumb (movable part) color */
  border-radius: 5px; /* Optional: to make the thumb rounded */
}

/* Optional: style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
